//
// styles
// --------------------------------------------------

#bottom {
	text-align:center; padding-top:40px; background:$white; position:relative; overflow:hidden;
	.txt {
		font-family:$openSans;
		&.default { margin-bottom:20px;}

		&.help { font-weight:600; margin:48px 0 30px 0; color:$red01;}
		&.thanks { margin-top:44px;}
	}
	.box-association {
		max-width:410px; width:100%; display:table; table-layout:fixed; border:1px solid $gray03; @include border-radius(10px);
		.row {
			display:table-row;
			&:first-child .cell { border-bottom:1px solid $gray03;}
		}
		.cell {
			display:table-cell; vertical-align:middle; text-align:center; padding:0 12px; font-family:$openSans; color:$gray04;
			&:hover { text-decoration:underline;}
			&:first-child { border-right:1px solid $gray03;}
			.title { font-weight:600; color:$red01; display:block; text-transform:uppercase; margin-top:5px;}
		}
	}
	.bt-don {
		padding:0 43px; height:66px; display:inline-block; @include border-radius(68px); color:$white; @include font-size-line(18,64); font-weight:600; text-transform:uppercase; background:$red01; border:1px solid $red01;
		&:hover { color:$red01; background:$white; @extend %transition;}
	}
}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous et tablette - deskblet -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(deskAllBlet) {

#bottom {
	padding-bottom:190px;
	.txt {
		@include font-size-line(20,24); 
		&.default:first-child,
		&.default:first-child + .default { padding:0 100px;}
		&.default:first-child + .default + .default { padding:0 200px;}

		&.help { padding:0 130px;}
		&.thanks { @include font-size-line(16,20);}
	}
	.box-association {
		.cell { height:152px; @include font-size-line(14,18);}
	}
}

}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopAll) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop large-_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopLarge) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop petit et tablette -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(deskSmallBlet) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop petit -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopSmall) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles tablette -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(tablet) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles tablette et mobile - tabile -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(tabile) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles mobile -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(mobile) {

#bottom {
	padding:30px 15px 70px 15px;
	.txt {
		@include font-size-line(16,22);
		&.thanks { @include font-size-line(15,18);}
	}
	.box-association {
		.cell { padding-top:15px; padding-bottom:15px; @include font-size-line(13,16); }
	}
}

}
