//
// styles
// --------------------------------------------------

#intro {
	text-align:center; padding-bottom:94px; background:$white; position:relative; overflow:hidden;
	.title {
		margin-bottom:25px; margin-top:120px; font-family:$titilliumWeb; text-transform:uppercase; @include font-size(40); color:$red01;
		span { font-weight:900; @include font-size-line(100,60);}
	}
	.subtitle {
		font-family:$titilliumWeb; font-weight:700; text-transform:uppercase; @include font-size-line(22,26); margin-bottom:35px;
		span { display:block;}
	}
	.txt {
		@include font-size-line(18,22); margin-bottom:30px;
		span { display:block;}
	}
	.container-select {
		margin-bottom:60px;
		.default-select { margin:0 9px;}
	}	
}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous et tablette - deskblet -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(deskAllBlet) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopAll) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop large-_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopLarge) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop petit et tablette -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(deskSmallBlet) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop petit -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopSmall) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles tablette -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(tablet) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles tablette et mobile - tabile -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(tabile) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles mobile -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(mobile) {

}
