//
// styles
// --------------------------------------------------

.question {
	position:relative; overflow:hidden;
	.box-question {
		max-width:455px; margin:0 auto; background:$white; color:$black; @include border-radius(10px);
		.number {
			color:$red01; font-family:$titilliumWeb; font-weight:300; @include font-size(25); text-align:center;
			span { font-weight:700;}
		}
		.title {
			font-weight:600; margin-bottom:30px; text-align:center;
			& + .form-line { margin-top:0}
		}
	}
	.form-line {
		margin-top:20px;
		label { display:block;}
	}
	.bt-next { margin-top:34px;}

	&#question-01 { background:url(../images/bg-question-01.jpg) no-repeat center center;}
	&#question-02 { background:url(../images/bg-question-02.jpg) no-repeat center center;}
	&#question-03 { background:url(../images/bg-question-03.jpg) no-repeat center center;}
	&#question-04 { background:url(../images/bg-question-04.jpg) no-repeat center center;}
	&#question-05 { background:url(../images/bg-question-05.jpg) no-repeat center center;}
}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous et tablette - deskblet -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(deskAllBlet) {

.question {
	.box-question { margin-top:220px;}
	&#question-01 {
		height:867px;
		.box-question .title { padding:0 90px;}
		.form-line { margin-right:52px;}
	}
	&#question-02 {
		 height:877px;
		.box-question .title { padding:0 90px;}
		.form-line { margin-right:92px;}
	}
	&#question-03 {
		height:870px;
		.box-question .title { padding:0 50px;}
	}
	&#question-04 {
		height:878px;
		.box-question .title { padding:0 40px;}
		.form-line { margin-right:130px;}
	}
	&#question-05 {
		height:905px;
		.box-question .title { padding:0 90px;}
	}
	.box-question {
		padding-bottom:55px; padding-top:50px;
		.number { margin-bottom:52px;}
		.title { @include font-size-line(20,24);}
	}
	.form-line { margin-left:52px;}
}

}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopAll) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop large-_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopLarge) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop petit et tablette -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(deskSmallBlet) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop petit -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopSmall) {


}


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles tablette -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(tablet) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles tablette et mobile - tabile -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(tabile) {


}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles mobile -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(mobile) {

.question {
	padding:40px 15px 0 15px;
	.box-question {
		 padding-bottom:30px; padding-top:30px; margin-top:30%; margin-bottom:30%;
		 .number { margin-bottom:30px;}
		 .title { padding:0 20px; @include font-size-line(18,22);}
	}
	.form-line { margin-right:15px; margin-left:30px;}

	&#question-01 { max-height:867px;}
	&#question-02 { max-height:877px;}
	&#question-03 { max-height:870px;}
	&#question-04 { max-height:878px;}
	&#question-05 { max-height:905px;}
}

}
