//
// general 
// --------------------------------------------------

/*-_-_-_-_-_-_- classes utiles -_-_-_-_-_-_- */
.float-left { float:left;}
.float-right { float:right;}
.hidden { overflow:hidden; height:0}
.text-center { text-align:center;}
.bold { font-weight:bold;}
.text-underline {
	text-decoration:underline;
	&:hover { text-decoration:none;}
}

%transition { @include transition(all 0.3s ease 0s);}
%hide-text { text-indent:-9999px; overflow:hidden;}


.page-center { margin:0 auto; text-align:left; position:relative; @include clearfix;}

.bt-next {
	width:60px; height:60px; line-height:60px; display:block; margin:0 auto; @include border-radius(60px); text-align:center; background:$red01;
	&:hover .arrow-white-01 { @extend %transition; @include rotate(360deg); }
}

.logo-france-parkinson { @extend %hide-text;}


.form-line {
	&:not(.error) .error-msg { display:none;}
	&.error .error-msg { display:block; @include font-size-line(12); padding-top:4px;}
}

.box-main {
	&:not(.error) .error-msg { display: none;}
}

.error select,
.error input {
  box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.5);
}

.default-select,
.form-select {
	@include inline-block; position:relative; background:$white;
	&::after { content:""; display:inline-block; @include pos-abs(50%,17px,auto,auto,1); margin-top:-4px;}
	select {
		@include appearance(none); position:relative; z-index:2; background:none; display:block; width:100%;
		&::-ms-expand { display:none;}
	}
}
.default-select {
	height:40px; width:232px; border:1px solid $gray01; @include border-radius(10px);
	&::after { @include triangle("down", 9px, $red01);}
	select { @include font-size-line(16,40); padding-left:14px; height:40px; }
}
.form-select {
	height:30px; max-width:300px; @include border-radius(5px); display:inline-block; width:100%;
	&::after { @include triangle("down", 9px, $black);}
	select { border:0; @include font-size-line(16,30); height:30px; padding-left:8px; color:$gray02; font-family:$openSans; }
}

input[type="text"].input-txt,
input[type="email"].input-txt { @include font-size-line(16,30); height:30px; width:100%; max-width:300px; border:0; padding-left:8px; color:$gray02; font-family:$openSans; @include border-radius(5px); padding-right:8px; @include box-sizing(border-box);}

input[type="radio"] { height:16px; width:16px; border:6px solid red;}




/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
 
/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}
/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px; /* dim. de la case */
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px; /* angles arrondis */
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
}
 
/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- styles desktop tous -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
@include breakpoint(desktopAll) {

.main-container { width:945px;}

}
